@media screen and (min-width: 480.5px){
	body header,body footer,.navigation ul,.search-field,.logo,.round-images,
	.info-box,.social-media{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	body{
		width: 100%;
	}

	/*Sections colors*/
	.main{
		background-color: #373737;
		color: #ffffff;
		display: grid;
		grid-template-columns: auto auto;
	}
	body>header,body>footer{
		background-color: #454447;
		color: #ffffff;
	}
	.info-box{
		background-color: #57575A;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}
	/*Sections colors*/


	/*Images*/
	.responsive-nav, .responsive-search{
		display: none;
	}
	.logo img{
		width: 50px;
		height: 70px;
	}
	.search{
		width: 24px;
	}
	.info-box img{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		width: 50%;
		height: 400px;
		filter: blur(1px);
	}
	.info-box img:hover{
		filter: blur(0px);
	}
	.round-images img{
		width: 120px;
	}
	#instagram, #facebook{
		width: 25px;
	}
	/*Images*/


	/*Common Navigation*/
	.logo, #active-nav{
		color: #ffffff;
	}
	.btn:hover{
		color: #ffffff;
	}
	.btn{
		color: #707070;
	}
	body>header{
		padding: 10px 0px 10px 0px;
		justify-content: center;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}
	.logo{
		margin-right: 100px;
	}
	.logo p{
		margin-left: 5px;
		text-align: center;
	}
	.navigation ul li{
		padding: 15px 28px;
	}

	.search-field{
		margin-left: 220px;
	}



	.search-field form{
		display: flex;
		flex-direction: row;
	}
	.search-field input[type=submit]{
		background: #797676 url("../images/search_white.png") no-repeat center;
		background-size: 24px;
		cursor: pointer;
		font-weight: bold;
		width: 30px;
		border: 2px solid #646464;
	}


	input[type=text]{
		height: 27px;
		width: 200px;
		border: 2px solid #646464;
	}

	.login{
		padding-top: 5px;
		padding-bottom: 5px;
		border-left: 2px solid #646464;
	}
	/*Common Navigation*/



	/*Info box*/
	#home-page{
		height: auto;
	}
	.info-box{
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.info-box div{
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;
		width: 50%;
		height: auto;
	}
	#text h1{
		margin: 37px 70px;
	}
	#text p{
		margin-left: 70px;
		margin-right: 70px;
		margin-bottom: 37px;
	}
	/*Info box*/
	/*Round images*/
	.round-images{
		justify-content: center;
		padding: 58px 0px;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.round-images div{
		margin: 0px 50px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.round-images div p{
		margin-top: 10px;
	}
	/*Round images*/



	/*Universities page*/
	.main{
		justify-content: center;
		grid-gap: 30px;
		grid-column-gap: 100px;
		padding: 30px 0px;
		height: 75vh;
	}
	#hat{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		height: 100px;
		margin: auto 0px;
	}
	#hat img{
		width: 90px;
		height: 90px;
	}
	#hat h1{
		font-family: Abel;
		font-weight: bold;
		font-size: 35px;
	}
	#hat p{
		font-family: Abel;
		font-weight: lighter;
		font-size: 25px;
	}
	.univ-img{
		width: 45%;
		height: 100%;
		border-radius: 10px 0px 0px 10px;
		opacity: 0.6;
		transition: 0.3s;
	}
	.university:hover .univ-img{
		opacity: 1;
	}
	.info-univ:nth-child(odd){
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.info-univ:nth-child(even){
		grid-column-start: 2;
		grid-column-end: 3;
	}
	.university{
		width: 600px;
		height: 185px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		background: linear-gradient(90deg, rgba(87, 87, 90, 0) 0%, rgba(87, 87, 90, 0.4) 41.67%, #57575A 100%);
		mix-blend-mode: normal;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
	}
	.university article{
		display: flex;
		height: auto;
		width: 50%;
		flex-wrap: wrap;
		flex-direction: column;
		padding: 9px;
	}
	.university article h3,.university article p{
		padding-bottom: 4px;
	}
	.university article h3{
		font-size: 19px;
		font-weight: bold;
		text-decoration: underline;
		padding-bottom: 6px;
	}
	.university p strong{
		font-weight: bold;
		text-decoration: underline;
	}
	.university article a{
		width: 40%;
		border-radius: 10px;
		padding: 7px 10px;
		margin: 25px 0px 0px 55%;
		height: auto;
		justify-content: center;
		text-align: center;
		background-color: #ACA5AB;
		color: #ffffff;
	}
	/*Universities page*/




	/*About us*/
	#about-page{
		height: auto;
	}
	.about{
		grid-column-start: 1;
		grid-column-end: 3;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center; 
	}
	.about header h1{
		font-size: 40px;
		font-weight: bold;
		margin-top: 60px;
	}
	.about-container{
		height: auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.about-container img{
		width: 303px;
		height: 292px;
		object-fit: cover;
		margin-top: 30px;
	}
	.about-box{
		width: 303px;
		height: 292px;
		background-color: #57575A;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		margin: 30px 30px 0px -303px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		transition: all 0.5s ease-in-out;
	}
	.about-box:hover{
		background-color: rgba(174,174,175,0.9);
		color:rgba(33,33,33,1);;
	}
	.about-box:hover p{
		display: flex;
		margin: 0px 25px;
		font-family: Abel;
		font-size: 20px;
		font-weight: lighter;
	}
	.about-box:hover h2{
		margin: 0px 0px 20px 0px;
	}
	.about-box h2{
		margin: 0px 0px 0px 0px;
		font-family: Abel;
		font-size: 25px;
		font-weight: bold;
		transition: all 0.5s ease-in-out;
	}
	.about-box p{
		display: none;
	}



	.our-team{
		grid-column-start: 1;
		grid-column-end: 3;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center; 
	}
	.our-team header h1{
		font-size: 40px;
		font-weight: bold;
		margin-top: 60px;
	}
	.team-members{
		height: auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
	}
	.team-members img{
		width: 304px;
		height: 473px;
		object-fit: cover;
		margin-top: 30px;
	}
	.team-member{
		width: 304px;
		height: 473px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		margin: 0px 30px 0px -304px;
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		transition: all 0.5s ease;
	}
	.team-members h2{
		background-color: #57575A;
		width: 100%;
		padding: 20px 0px;
		font-family: Abel;
		font-size: 25px;
		font-weight: bold;
		transition: all 0.5s ease;
	}
	.team-members p{
		display: none;
	}
	.team-member:hover{
		justify-content: center;
		background-color: rgba(174,174,175,0.9);
		color:rgba(33,33,33,1);
	}
	.team-member:hover p{
		display: flex;
		padding: 0px 25px 0px 25px;
		font-family: Abel;
		font-size: 20px;
		font-weight: lighter;
	}
	.team-member:hover h2{
		background-color: rgba(174,174,175,0);
		margin: 0px 0px 20px 0px;
		padding: 0px;
	}




	/*LOGIN PAGE*/
	#user-data{
		height: 700px;
	}
	#univ-data{
		height: 800px;
	}
	#fac-data{
		height: 700px;
	}
	#fac-data form select{
		margin-bottom: 10px;
	}
	#login{
		height: 100vh;
		align-content: center;
		padding: 0px;
		grid-gap: 0px;
	}
	.login-box{
		grid-column-start: 1;
		grid-column-end: 3;
		background-color: black;
		width: 500px;
		height: 520px;
		padding: 10px 0px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
		background-color: #57575A;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		border-radius: 15px;
	}
	.sign-logo{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: #ffffff;
		font-size: 17px;
		font-weight: bold;
		margin-bottom: 35px;
	}
	.sign-title{
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 35px;
	}
	.login-box a img{
		width: 50px;
	}
	.login-box form{
		width: 70%;
	}
	.login-box form input{
		width: 100%;
		height: 35px;
		margin: 5px 0px 10px 0px;
		border:none;
		box-sizing: border-box; 
		background-color: #57575A;
		color: #ffffff;
		padding-left: 15px;
		transition: all 0.4s ease;
	}
	.login-box form input:focus{
		outline: none;
	}
	.login-box form input[type=submit]{
		border-radius: 15px;
		background-color: #454545;
		font-size: 15px;
		font-weight: bold;
		cursor: pointer;
	}
	.login-box form input[type=text]{
		border-bottom: 2px solid #454545;
	}
	.login-box form input[type=password]{
		border-bottom: 2px solid #454545;
	}
	.login-box form label{
		font-size: 20px;
		font-weight: bold;
	}
	.login-box form input[type=text]:focus{
		width: 105%;
		height: 45px;
		border-bottom: 6px solid #454545;
	}
	.login-box form input[type=password]:focus{
		width: 105%;
		height: 45px;
		border-bottom: 6px solid #454545;
	}
	.login-box form input[type=submit]:hover{
		height: 45px;
		border: 3px solid #3C3C3C;
	}
	.login-box p a{
		color: #ffffff;
		text-decoration: underline;
		font-weight: bold;
	}




	










	/*University Page*/
	#univ-page{
		display: flex;
		flex-direction: column;
		grid-gap: 0px;
		padding: 50px;
		height: auto;
	}
	.university-header{
		display: flex;
		flex-direction: row;
		margin-bottom: 25px;
	}
	.university-header img{
		width: 35%;
		object-fit: cover;
	}
	.university-info{
		margin-left: 50px;
	}
	.university-info h1{
		font-size: 55px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	.university-info p{
		font-size: 20px;
		font-weight: 100;
		margin-bottom: 10px;
	}
	.university-info p strong{
		font-weight: bold;
		text-decoration: underline;
	}


	.faculty{
		display: flex;
		flex-direction: column;
		margin: 25px 0px 25px 0px;
	}
	.faculty-header{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 10px;
	}
	.plus-btn{
		background-image: url('../images/plus.png');
		background-color: #373737;
		border: none;
		width: 32px;
		height: 32px;
		outline: none;
		cursor: pointer;
		transition: 0.5s;
	}
	.plus-btn:hover{
		background-image: url('../images/plus-white.png');
	}
	#minus1,#minus2,#minus3,#minus4,#minus5{
		display: none;
		background-image: url('../images/minus.png');
		background-color: #373737;
		border: none;
		width: 32px;
		height: 32px;
		outline: none;
		cursor: pointer;
	}
	.faculty-header h2{
		font-size: 30px;
		font-weight: bold;
		margin-left: 10px;
	}
	.faculty-info{
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 70%;
		height: 0;
		overflow-y: hidden;
		transition: 0.5s;
	}
	.box{
		width: 90%;
		margin-left: 25px;
	}
	.box p{
		font-size: 18px;
		margin-bottom: 10px;
	}
	.box p strong{
		font-weight: bold;
		text-decoration: underline;
	}
	.apply-btn{
		color: #ffffff;
		font-size: 22px;
		font-weight: bold;
		padding: 15px 0px 15px 0px;
		width: 10%;
		text-align: center;
		background-color: #ACA5AB;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		border-radius: 15px;
		transition: 0.3s;
	}
	.apply-btn:hover{
		font-size: 25px;
		padding: 18px 10px 18px 10px;
	}




	/*Search*/
	#main-search{
		justify-content: flex-start;
		padding-left: 50px;
		height: 75vh;
		width: auto;
		grid-template-columns: auto;
	}
	.search-box{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		width: auto;
	}
	.search-head{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		font-size: 40px;
		margin-bottom: 20px;
	}
	#page-search-field{
		justify-content: flex-start;
		margin-left: 20px;
		margin-bottom: 30px;
	}
	#page-search-field input[type=text]{
		width: 250px;
	}
	.search-result{
		margin-left: 20px;
		font-size: 20px;
	}
	.search-box .university{
		margin-bottom: 20px;
	}














	
	#apply{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: auto;
	}
	.apply-box{
		margin: 40px 0px;
		padding-top: 40px;
		padding-bottom: 40px;
		grid-column-start: 1;
		grid-column-end: 3;
		background-color: black;
		width: 50%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
		background-color: #57575A;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		border-radius: 15px;
	}
	.apply-title{
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 35px;

	}
	.apply-box a img{
		width: 50px;
	}
	.apply-box form{
		width: 80%;
	}
	.apply-box form input, .apply-box form select{
		width: 100%;
		height: 35px;
		margin: 5px 0px 10px 0px;
		border:none;
		box-sizing: border-box; 
		background-color: #57575A;
		color: #ffffff;
		padding-left: 15px;
		transition: all 0.4s ease;
	}
	.apply-box form input:focus{
		outline: none;
	}
	.apply-box form input[type=submit]{
		border-radius: 15px;
		background-color: #454545;
		font-size: 15px;
		font-weight: bold;
	}
	.apply-box form input[type=text]{
		border-bottom: 2px solid #454545;
	}
	.apply-box form input[type=file]{
		border-bottom: 2px solid #454545;
	}
	.apply-box form label{
		font-size: 20px;
		font-weight: bold;
	}
	.apply-box form input[type=text]:focus{
		width: 105%;
		height: 45px;
		border-bottom: 6px solid #454545;
	}
	.apply-box form input[type=file]:focus{
		width: 105%;
		height: 45px;
		border-bottom: 6px solid #454545;
	}
	.apply-box form input[type=submit]:hover{
		height: 45px;
		border: 3px solid #3C3C3C;
	}
	.apply-box p a{
		color: #ffffff;
		text-decoration: underline;
		font-weight: bold;
	}








	#admin{
		display: flex;
		flex-direction: column;
		height: auto;
	}
	.admin-box{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		background-color: #57575A;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		padding: 20px 0px;
	}
	.admin-box table{
		border-collapse: collapse;
		width: 80%;
		margin: 20px;
	}
	.admin-box table td, .admin-box table th{
		border: 3px solid #313132;
		text-align: center;
		vertical-align: middle;
		padding: 10px 5px;
	}
	.admin-box table th{
		background-color: #454447;
	}
	.add-univ-fac{
		padding: 10px;
		font-size: 15px;
		font-weight: bold;
		border-radius: 15px;
		background-color: #454545;
		color: #ffffff;
		outline: none;
		cursor: pointer;
		border: 3px solid #3C3C3C;
		transition: all 0.4s ease;
	}
	.add-univ-fac a{
		color: #ffffff;
	}
	.add-univ-fac:hover{
		padding: 15px;
	}




	#edit{
		height: auto;
		align-content: center;
		padding: 0px;
		grid-gap: 0px;
		padding: 15px 0px;
	}
	/*edit spec*/
	.login-box form select{
		width: 100%;
		height: 35px;
	}
	#add{
		height: auto;
	}







	#user{
		display: flex;
		flex-direction: column;
		height: 75vh;
	}
	.user-box{
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		grid-column-gap: 80px;
		grid-gap: 60px;
		justify-content: center;
		width: 100%;
		background-color: #57575A;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		padding: 60px 0px;
	}
	.user-box header{
		font-size: 45px;
		font-weight: bold;
	}
	.user-box header img{
		width: 80px;
	}



















	/*Footer*/
	body footer{
		padding: 20px;
		justify-content: space-between;
	}
	.copyright a{
		color: #707070;
		font-style: italic;
	}
	.copyright a:hover{
		color: #ffffff;
	}
	.social-media a{
		margin-left: 10px;
	}
	/*Footer*/



	/*Text properties*/
	.success-text{
		color: green;
		margin-bottom: 5px;
		font-weight: bold;
	}
	.error-text{
		color: red;
		margin-bottom: 5px;
		font-weight: bold;
	}
	body{
		font-family: Abel;
	}
	.logo, .navigation{
		font-weight: bold;
		font-size: 19px;
	}
	#text h1{
		font-weight: bold;
		font-size: 36px;
	}
	#text p{
		font-weight: lighter;
		font-size: 29px;
		line-height: 37px;
	}
	.round-images{
		font-size: 18px;
	}
	body footer{
		font-weight: bold;
	}
}